<!--sidebar start-->
<aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
      <li [ngClass]="router.url=='/home'?'active':''">
        <a class="" routerLink="/">
                      <i class="icon_house_alt"></i>
                      <span>Dashboard</span>
                  </a>
      </li>
      <li *ngIf="roles.leads=='1'" [ngClass]="router.url=='/leads'?'active':''">
        <a class="" routerLink="/leads">
                      <i class="fa fa-address-book-o"></i>
                      <span>Leads</span>
                  </a>
      </li>
      <li *ngIf="roles.admin=='1'" [ngClass]="router.url=='/company'?'active':''">
        <a class="" routerLink="/company">
                      <i class="fa fa-building-o"></i>
                      <span>Company</span>
                  </a>
      </li>
      <li *ngIf="roles.users=='1'" [ngClass]="router.url=='/users'?'active':''">
        <a class="" routerLink="/users">
                      <i class="fa fa-users"></i>
                      <span>Users</span>
                  </a>
      </li>
      <li *ngIf="roles.tasks=='1'" [ngClass]="router.url=='/tasks'?'active':''">
        <a class=""  routerLink="/tasks">
                      <i class="fa fa-tasks"></i>
                      <span>Tasks</span>
                  </a>
      </li>
      <li *ngIf="roles.attendance=='1'" [ngClass]="router.url=='/attendance'?'active':''">
        <a class=""  routerLink="/attendance">
                      <i class="fa fa-calendar"></i>
                      <span>Attendance</span>
                  </a>
      </li>
      <li *ngIf="roles.designer=='1'" class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_document_alt"></i>
                      <span>Forms</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="form_component.html">Form Elements</a></li>
          <li><a class="" href="form_validation.html">Form Validation</a></li>
        </ul>
      </li>
      <li *ngIf="roles.designer=='1'" class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_desktop"></i>
                      <span>UI Fitures</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="general.html">Elements</a></li>
          <li><a class="" href="buttons.html">Buttons</a></li>
          <li><a class="" href="grids.html">Grids</a></li>
        </ul>
      </li>
      <li *ngIf="roles.designer=='1'">
        <a class="" href="widgets.html">
                      <i class="icon_genius"></i>
                      <span>Widgets</span>
                  </a>
      </li>
      <li *ngIf="roles.designer=='1'">
        <a class="" href="chart-chartjs.html">
                      <i class="icon_piechart"></i>
                      <span>Charts</span>

                  </a>

      </li>

      <li *ngIf="roles.designer=='1'" class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_table"></i>
                      <span>Tables</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="basic_table.html">Basic Table</a></li>
        </ul>
      </li>

      <li *ngIf="roles.designer=='1'" class="sub-menu">
        <a href="javascript:;" class="">
                      <i class="icon_documents_alt"></i>
                      <span>Pages</span>
                      <span class="menu-arrow arrow_carrot-right"></span>
                  </a>
        <ul class="sub">
          <li><a class="" href="profile.html">Profile</a></li>
          <li><a class="" href="login.html"><span>Login Page</span></a></li>
          <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
          <li><a class="" href="blank.html">Blank Page</a></li>
          <li><a class="" href="404.html">404 Error</a></li>
        </ul>
      </li>

    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->